.container {
	width: 200mm;
}

.text-italic {
	font-style: italic;
}

legend {
	border-bottom: 1px solid rgb(131, 131, 131);
}

/* .table-bordered {
	border: 1px solid rgb(131, 131, 131);
} */

.table-application, .table-receipt {
	margin-bottom: 0;
}

.table-application thead > tr > td, .table-application tbody > tr > td {
	vertical-align: top;
	padding: 0 8px 1px;
	border: none;
}

.table-receipt thead > tr > td, .table-receipt tbody > tr > td {
	vertical-align: top;
}

hr {
	border-width: 1px 0;
	border-color: rgb(131, 131, 131);
}

.div-comment {
	border: 1px solid rgb(165, 165, 165);
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	height: 100px;
}

/*Background*/
.bg-text {
    color:#e7c16f;
	opacity: 60%;
	text-align: center;
}
#background {
    position: absolute;
    z-index: -10;
    width: 200mm;
}
#bg-agreement {
    font-size: 180px;
	width: 160%;
	margin: 90% -30% 0;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}
#bg-receipt {
    font-size: 120px;
	width: 110%;
	margin: 20% -5% 0;
    transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
}
#bg-vendor-agreement {
    font-size: 140px;
	width: 120%;
	margin: 80% -10% 0;
    transform: rotate(310deg);
    -webkit-transform: rotate(310deg);
}
#bg-admission {
    font-size: 130px;
	width: 120%;
	margin: 65% -10% 0;
    transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
}
#bg-purchase {
    font-size: 140px;
	width: 140%;
	margin: 40% -20% 0;
    transform: rotate(310deg);
    -webkit-transform: rotate(310deg);
}

/*Background*/

@media print {
#background{
    position: fixed;
    z-index: 10;
}
#bg-agreement, #bg-vendor-agreement, #bg-admission {
    font-size: 140px;
	width: 100%;
	margin: 25% 0 0;
}
#bg-receipt, #bg-purchase {
    font-size: 140px;
	width: 100%;
	margin: 5% 0 0;
}

.letter-head, .letter-content {
  display: none;
}

@page {
	size: A4;
	margin: 7mm 5mm 10mm;
}

.page-content {
	break-inside: avoid;
	break-after: auto;
}
}